.banner-bg-img {
  background-image: url('https://i.ibb.co/wsQ1hRM/Banner.jpg');
}

.login-bg-img {
  background-image: url('https://i.ibb.co/HTtYkJb/login-pic.jpg');
}

.font-border {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}